<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Usuarios y Productos</title>
</head>
<body>
<div class="container">
    <h1>Usuarios</h1>
    <a href="/add" class="btn btn-primary">Agregar Usuario</a>
    <a href="/add_product" class="btn btn-primary">Agregar Producto</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Productos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <ul>
                    {% for product in user.products %}
                        <li>{{ product.product_name }} - ${{ product.price }}</li>
                    {% endfor %}
                    </ul>
                    <p>Cantidad de Productos: {{ user.product_count }}</p> <!-- Muestra la cantidad de productos -->
                </td>
                <td>
                    <a href="/edit/{{ user.id }}" class="btn btn-secondary">Editar</a>
                    <a href="/delete/{{ user.id }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
